body{
    margin: 0;
    padding:0;
}
.unordered-list li{
    font-weight: 800;
}
h1{
    padding: 16px;
    border: 1px solid gray;
    background-color: lightcoral;
    box-shadow: 8px 8px 8px lightgray;
}
footer{
    text-align: center;
    background-color:#28447d;
    padding:2%;
    color:#fff;
}